name: Deploy Infrastructure

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  TERRAFORM_VERSION: 1.12.2

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TF_VAR_tenancy_ocid: ${{ secrets.OCI_TENANCY_OCID }}
      TF_VAR_user_ocid: ${{ secrets.OCI_USER_OCID }}
      TF_VAR_fingerprint: ${{ secrets.OCI_FINGERPRINT }}
      TF_VAR_private_key_path: "~/.oci/oci_api_key.pem"
      TF_VAR_region: ${{ secrets.OCI_REGION }}
      TF_VAR_compartment_name: ${{ vars.OCI_COMPARTMENT_NAME }}
      TF_VAR_my_public_ip_cidr: ${{ secrets.MY_PUBLIC_IP_CIDR }}
      TF_VAR_compute_ssh_public_key: ${{ secrets.COMPUTE_SSH_PUBLIC_KEY }}
      TF_VAR_budget_alert_email: ${{ secrets.BUDGET_ALERT_EMAIL }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y jq unzip


    - name: Setup Terraform
      uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      with:
        terraform_version: ${{ env.TERRAFORM_VERSION }}
    
    - name: Setup OCI CLI
       uses: oracle-actions/setup-oci-cli@v1.1.1

    - name: Configure OCI CLI
      env:
        OCI_PRIVATE_KEY: ${{ secrets.OCI_PRIVATE_KEY }}
      run: |
        mkdir -p ~/.oci
        echo "${OCI_PRIVATE_KEY}" > ${{ env.TF_VAR_private_key_path }}
        chmod 600 ${{ env.TF_VAR_private_key_path }}

        cat > ~/.oci/config <<EOF
        [DEFAULT]
        user=${{ secrets.OCI_USER_OCID }}
        fingerprint=${{ secrets.OCI_FINGERPRINT }}
        key_file=${{ env.TF_VAR_private_key_path }}
        tenancy=${{ secrets.OCI_TENANCY_OCID }}
        region=${{ secrets.OCI_REGION }}
        EOF
        chmod 600 ~/.oci/config

    - name: Make init.sh executable
      run: chmod +x ./init.sh

    - name: Run init script
      env:
        OCI_COMPARTMENT_NAME: ${{ vars.OCI_COMPARTMENT_NAME }}
        OCI_BUCKET_NAME: ${{ vars.OCI_BUCKET_NAME }}
        OCI_TENANCY_OCID: ${{ secrets.OCI_TENANCY_OCID }}
      run: ./init.sh

    - name: Generate backend.tf variables
      run: |
        echo "OCI_NS=$(oci os ns get | jq -r '.data')" >> $GITHUB_ENV

    - name: Initialize Terraform
      run: |
        terraform init \
          -backend-config="bucket=${{ vars.OCI_BUCKET_NAME }}" \
          -backend-config="namespace=${OCI_NS}" \
          -backend-config="region=${{ secrets.OCI_REGION }}" \
          -backend-config="key=terraform.tfstate"

    - name: Validate Terraform
      run: terraform validate

    - name: Plan Terraform
      run: terraform plan -out=tfplan

    - name: Apply Terraform
      run: terraform apply -auto-approve tfplan
